.App {
  max-width: 600px;
  margin: auto;
  padding: 2rem;
}
.category {
  display: flex;
  justify-content: space-evenly;
}
.category button {
  cursor: pointer;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: larger;
  box-shadow: 6px 5px 10px 0px rgba(0, 0, 0, 0.75);
  background-color: rgba(167, 243, 208, 1);
  box-shadow: 10px;
  margin: 5px;
}

.body {
  margin: 10px;
}

.flex {
}

.lis {
  list-style: none;
  padding: 1rem;
}
.lis h2 {
  text-align: center;
}
.header,
.footer {
  text-align: center;
  --tw-bg-opacity: 1;
  color: white;
  background-color: rgba(52, 211, 153, var(--tw-bg-opacity));
}
.header {
  color: black;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5vh;
  margin-top: 5px;
}
li {
  border-bottom: 1px solid black;
}
